<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.timemanager">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.app.timemanager.manage.QuickTomato"></activity>
        <activity android:name="com.app.timemanager.AppManagement" />
        <activity
            android:name="com.app.timemanager.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name="com.app.timemanager.Guide" />
        <activity android:name="com.app.timemanager.todolist.DetailActivity"/>
        <activity android:name="com.app.timemanager.todolist.TodoListActivity"/>
        <activity android:name="com.app.timemanager.WelcomeAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.app.timemanager.AppStatisticsList" />
        <activity android:name="com.app.timemanager.PiePolylineChartActivity" />
        <activity android:name="com.app.timemanager.manage.AppManageList" />
        <service android:name="com.app.timemanager.manage.WatchDogService" />
        <service android:name="com.app.timemanager.manage.QuickTomato" />
    </application>

</manifest>